:root {
  --border-color: #e3e6ed;
  --font-range-start-color: #5d5fef;
  --font-range-end-color: #ef5da8;
  --font-year-color: #3877ee;
  --bg-color: #f4f5f9;
  --spinner-color: #d0d5e0;
  --circle-color: #303e5880;
  --main-color: #42567a;
}
